@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.custom-audio-player {
  width: 100%;
  padding: 10px 0;
}
/* Light gray background */

.custom-audio-player::-webkit-media-controls-panel {
  background-color: #1E328F; 
  border-radius: 10px;
}

.custom-audio-player::-webkit-media-controls-play-button,
.custom-audio-player::-webkit-media-controls-mute-button {
  background-color: #1E328F; 
  border-radius: 50%;
}

.custom-audio-player::-webkit-media-controls-timeline {
  color: white; 
  }

.custom-audio-player::-webkit-media-controls-current-time-display,
.custom-audio-player::-webkit-media-controls-time-remaining-display {
  color: white;
}

.react-datepicker__close-icon {
  top: 50%; 
  transform: translateY(-50%);
}

.react-datepicker__close-icon::after {
  background-color: #1E328F; 
  color: white; 
  font-weight: bold;
  border-radius: 20%; 
  padding: 10px; 
}

/* Additional hover effect */
.react-datepicker__close-icon:hover::after {
  background-color: #0f1d65; 
}